<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DASHBOARD</title>
    <link rel="stylesheet" href="assets/3page.css">
</head>
<body>
     <!--preloader -->
     <div id="preloader">
    </div>

    <nav>
        
        <ul id="nav">
            <img src="assets/menu.jpg" id="menu" onclick="toggle()">
            <li><a href="/2page">DASHBOARD</a></li>
            <li><a href="/3page">PROJECTS</a></li>
            <li><a href="/4page">END_SEMESTER</a></li>
            <li><a href="/5page">PLACEMENTS</a></li>
            <li><a href="/logout" id="logout">LOGOUT</a></li>
            
        </ul>
    </nav>

<div id="main">
   <div id="profile">
       <h2>My Profile</h2><br>
       <img src="assets/profile_image.jpg"><br>
       <h5 id="name">NAME -  <%-name%></h5><br>
       <h5 id="studentid">STUDENT_ID - <%-id%></h5><br>
       <h5>COURSE - B.TECH</h6><br>
       <h5>SEMESTER - V</h6><br>
       <h5>YEAR - 3rd</h6><br>
    </div>
    <div id="main2">
        <div id="project">
            <img src="assets/project.jpg">
        <h2>PROJECTS</h2>
    </div>
    
    <table id="container">
        <tr>
            <th>S.NO</th>
            <th>PROJECT_NAME</th>
            <th>START_DATE</th>
            <th>TOOLS USED</th>
        </tr>
    
        <tbody>
            <% data.forEach(function(data){  %>
        <tr>
            <td><%-data.project_number%></td>
            <td><%-data.project_name%></td>
            <td><%-data.start_date%></td>
            <td><%-data.tool_used%></td>
        </tr>
        <%  });%>
        </tbody>
    </table>
    
    </div>
    </div>
    
</div>
</body>
<script>
    /*preloader*/
var loader=document.getElementById("preloader");
window.addEventListener("load",function(){
    loader.style.display="none";
})

// toggle menubar
function toggle()
{
    var menu=document.getElementById("menu");
    var profile=document.getElementById("profile");
   if(profile.style.display == "block") { 
    profile.style.display = "none";
    var project=document.getElementById("project");
    var container=document.getElementById("container");
    project.style.width="1300px"
    container.style.marginLeft="140px";
  }
  else { 
    profile.style.display = "block";
    var project=document.getElementById("project");
    project.style.width="1020px";
    var container=document.getElementById("container");
    container.style.marginLeft="30px";
  
  }
}



</script>
</html>