<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DASHBOARD</title>
    <link rel="stylesheet" href="assets/4page.css">
</head>
<style>
    .edit{
        padding: 5px 25px 5px 25px;
        color: white;
        font-weight: bold;
        background-color: rgb(21, 21, 87);
        cursor: pointer;
        text-decoration: none;
    }
    #container{
        margin-left: 150px;
    }
   
</style>
<body>
     <!--preloader -->
     <div id="preloader">
    </div>

    <nav>
        
        <ul id="nav">
            <img src="assets/menu.jpg" id="menu" onclick="toggle()">
            <li><a href="/admin2">DASHBOARD</a></li>
            <li><a href="/admin3">STUDENTS</a></li>
            <li><a href="/logout" id="logout">LOGOUT</a></li>
            
        </ul>
    </nav>

<div id="main">
   <div id="profile">
       <h2>My Profile</h2><br>
       <img src="assets/profile_image.jpg"><br>
       <h5 id="name">NAME - <%-name%></h5><br>
       <h5 id="studentid">STUDENT_ID - <%-id%></h5><br>
       <h5>DEPARTMENT- CS-IT</h6><br>
    </div>
    <div id="main2">
        <div id="end_semester">
        <h2>STUDENTS</h2>
    </div>
    
    <table id="container">
        <tr>
            <th>S.NO</th>
            <th>STUDENT_ID</th>
            <th>STUDENT_NAME</th>
            <th>EDIT</th>
           
        </tr>
    
        <tbody>
            <% data.forEach(function(data){  %>
                <tr>
                    <td><%-data.id%></td>
                    <td><%-data.student_id%></td>
                    <td><%-data.user_name%></td>
                    
                     <td>
                        <a  class="edit" href="/edit/<%-data.user_name%>">EDIT</a>
                     </td>  
                     
                </tr>
                <%  });%>
        </tbody>
    </table>
    
    </div>
    </div>
    
</body>
<script>
    /*preloader*/
var loader=document.getElementById("preloader");
window.addEventListener("load",function(){
    loader.style.display="none";
})

// toggle menubar
function toggle()
{
    var menu=document.getElementById("menu");
    var profile=document.getElementById("profile");
   if(profile.style.display == "block") { 
    profile.style.display = "none";
    var end_semester=document.getElementById("end_semester");
    var container=document.getElementById("container");
    end_semester.style.width="1400px"
    container.style.marginLeft="230px";
  }
  else { 
    profile.style.display = "block";
    var end_semester=document.getElementById("end_semester");
    end_semester.style.width="1020px";
    var container=document.getElementById("container");
    container.style.marginLeft="150px";
  
  }
}

</script>
</html>